body {
  display: flex;
  justify-content: center;
  background-color: #f0f4f8;
}

#registerForm {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  gap: 1rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 5px 10px red;
}

/* input {
  margin: 5px;
} */
